#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #f6f8fc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  text-align: center;
}

button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.create {
  background: #4e75ff;
}

.create:hover {
  background: #6c8cff;
}

.destroy {
  background: #ff4e4e;
}

.destroy:hover {
  background: #ff7070;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f6f8fc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
